:root{
    --color-time: #000
}

body{

    font-size: 72px;
    font-family: 'Cinzel', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    background-image: url(images/background_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;

    padding: 30px;
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.50));
    backdrop-filter: blur(2px);
}

.clock{
    width: 10%;
    padding: 5px;
    color: #fff
}

.calendar{
    width: 10%;
    padding: 5px;
    color: #000
}

@media(max-width: 726px){
    .container{
        flex-direction: column;
    }
    .clock{
        margin-right: 75px;
    }
    
    .calendar{
        margin-right: 75px;
        text-align: center;
    }
}